
.jumbotron {
    background-image: url(../img/%E3%82%A2%E3%82%BB%E3%83%83%E3%83%88%2014.png);
	background-size: cover;
	background-position: 50% 50%;
	height: 400px;
}

.card-text {color: #6b6b6b; text-align: center;}

.profile_jumbotron { background-color: #0d7da2; center no-repeat; background-size: cover;}

.contact_jumbotron { background-color: #f19b9b; center no-repeat; background-size: cover;}



.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }

@include media-breakpoint-up(sm) {
  html {
    font-size: 
  }
}

html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  .jumbotron-text p{
    font-size: 1.2px;
  }
}